{{ define "admin_user_list"}}
{{ template "main_admin_start" }}

<!-- /.row-->
<div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h4 class="card-title mb-0">User Management</h4>
          <div class="small text-muted">List of users</div>
        </div>
        <!-- /.col-->
        <div class="col-sm-7 d-none d-md-block">
          <button class="btn btn-success float-right" type="button">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

{{ template "main_admin_end" }}
{{ end }}
